//  * Główny plik dla stylów.
//  * Wszystkie partials podłączamy tutaj.
//  */

// Style dla pliku z przykładem HTML fragmentu
@use './utils/vars' as *;
@import './utils/mixins.scss';
@import './partials/body.scss';
@import './partials/footer.scss';
@import './example';
@import './partials/products.scss';
