$defaultBackground: #ffffff;
$defaultTextColor: #000000;
$pinkBackground1: #ffb8ca;
$pinkBackground2: #ffa5ba;
$mobileMenuBackground: #e17992;
$mobileNavigationBorder: #e18298;
$headTextColor: #d41443;
$lightBackground: #e5e5e5;
$coffeeBackground: #f0d1a5;
$milkshakesBackground: #c2e297;
$howItsMadeBackground: #fff5f6;
$lightTextColor: #907e82;
$quoteIconColor: #e1e1e1;
$quoteBackground: #fafafa;
$svgHomeColor: #d31342;
$cafeFooterBackground: #c2e297;
$restaurantsFooterShadow: rgba(212, 20, 67, 0.1);
$footerBackground: #fff5f6;
$button1Headerhover: #c7133e;
$button2Headerhover: #ecebeb;
$defaultSvgColor: #fea5bb;
