<div class="container about">
  <div class="about__section">
    <p class="about__title-info">TRADITION AND LOVE</p>
    <h2 class="about__title">HOW IT'S MADE?</h2>
  </div>
  <img
    alt="krowa i dzbanek z mlekiem"
    src="./images/how-its-made.png"
    srcset="./images/how-its-made.png 280w, ./images/how-its-made@2x.png 560w"
    sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 480px) 280px , 100vw"
  />
  <div class="about__text">
    <p class="about__section-text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about__section-milk">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt.
      <span class="about__break">Aliquam erat volutpat. Aenean accumsan.</span>
    </p>
    <button class="button button--made btn" type="button">
      Read more
      <svg width="4.43" height="8" class="btn__icon">
        <use href="./images/icons/icons-project.svg#icon-buy-menu-arrow"></use>
      </svg>
    </button>
  </div>
</div>
