<section class="about">
  <div class="container">
  <img
    class="about__background"
    alt="plamy rozlanego mleka"
    src="./images/images-desktop/how-its-made-bg.webp"
    srcset="
      ./images/images-mobile/how-its-made-bg.webp      320w,
      ./images/images-mobile/how-its-made-bg.webp      640w,
      ./images/images-desktop/how-its-made-bg.webp    1282w,
      ./images/images-desktop/how-its-made-bg@2x.webp 2564w
    "
    sizes="(min-width: 1280px) 1282px, (min-width: 320px) 320px , 100vw"
  />

    
      <p class="about__title-info">TRADITION AND LOVE</p>
      <h2 class="about__title">HOW IT'S MADE?</h2>
   
     <div class="about__flex">
      <img
        class="about__cow"
        alt="krowa i dzbanek z mlekiem"
        src="./images/images-desktop/how-its-made.webp"
        srcset="
          ./images/images-desktop/how-its-made.webp     516w,
          ./images/images-desktop/how-its-made@2x.webp 1032w,
          ./images/images-tablet/how-its-made.webp      340w,
          ./images/images-tablet/how-its-made@2x.webp   680w,
          ./images/images-mobile/how-its-made.webp      280w,
          ./images/images-mobile/how-its-made@2x.webp   560w
        "
        sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 320px) 280px , 100vw"
      />
      <div class="about__text">
        <p class="about__section-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__section-milk">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <span class="about__break">Aliquam erat volutpat. Aenean accumsan.</span>
        </p>
      </div>
      <button class="button button--made btn" type="button">
        Read more
        <svg width="6.5" height="10" class="btn__icon">
          <use href="./images/icons/icons-project.svg#icon-Vector-1"></use>
        </svg>
      </button>
    </div>
  </div>
  
</div>
</section>
