<div class="advantages">
  <h2 class="advantages__title">ADVANTAGES</h2>
  <ul class="advantages__card">
    <li>
      <img

        class="advantages__img advantages__icon"


        alt="icon-milk"
        width="33px"
        height="50px"
        src="/src/images/icon-milk-bucket.png"

        srcset="
          /src/images/icon-milk-bucket.png     1x,
          /src/images/icon-milk-bucket@2x.png  2x
        "


      />

      <h3 class="advantages__item">721</h3>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
      <img class="advantages__icon"
        alt="icon-apple"
        width="50px"
        height="50px"
        src="/src/images/icon-apple-bucket.png"
        srcset="
          /src/images/icon-apple-bucket.png     1x,
          /src/images/icon-apple-bucket@2x.png  2x
        "
      />
      <h3 class="advantages__item">16kg</h3>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
      <img class="advantages__icon"
        alt="icon-heart-lolipop"
        width="44px"
        height="50px"
        src="/src/images/icon-hearth-lolipop.png"
        srcset="
          /src/images/icon-hearth-lolipop.png    1x,
          /src/images/icon-hearth-lolipop@2x.png 2x
        "
      />
      <h3 class="advantages__item">84</h3>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
