<div class="advantages container">
  <h2 class="advantages__title">ADVANTAGES</h2>
  <ul class="advantages__card">
    <li>
      <img class="advanatges__img" alt="icon-milk" width="33px" height="50px" src="/src/images/icon-milk-bucket.png" />

      <h3 class="advantages__item">721</h3>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
      <img alt="icon-apple" width="50px" height="50px" src="/src/images/icon-apple-bucket.png" />
      <h3 class="advantages__item">16kg</h3>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
      <img
        alt="icon-heart-lolipop"
        width="44px"
        height="50px"
        src="/src/images/icon-hearth-lolipop.png"
      />
      <h3 class="advantages__item">84</h3>
      <p class="advantages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
