
<div class="advantages container">
<h2 class="advantages__title">ADVANTAGES</h2>
<div>
    <svg></svg>
    <h3 class="advantages__item">721</h3>
    <article class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</article>
</div>
<div>
    <h3 class="advantages__item">16kg</h3>
    <article class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</article>
</div>
<div>
    <h3 class="advantages__item">84</h3>
    <article class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</article>
</div>
</div>