<section class="contacts__bg">
  <div class="container contacts">
    <div class="contacts__container">
      <div class="contacts__box">CAFE</div>
      <h3 class="contacts__titles">Chicago</h3>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <h3 class="contacts__titles">Monday - Friday</h3>
      <p class="contacts__time-open">06:00 AM - 10:00 PM</p>
      <h3 class="contacts__titles">Saturday - Sunday</h3>
      <p class="contacts__time-open">08:00 AM - 16:00 PM</p>
      <ul>
        <li><a class="contacts__contact" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li>
          <a class="contacts__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contacts__container">
      <div class="contacts__box">FOODTRUCK</div>
      <h3 class="contacts__titles">Los Angeles</h3>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <h3 class="contacts__titles">Monday - Friday</h3>
      <p class="contacts__time-open">06:00 AM - 10:00 PM</p>
      <h3 class="contacts__titles">Saturday - Sunday</h3>
      <p class="contacts__time-open">08:00 AM - 16:00 PM</p>
      <ul>
        <li><a class="contacts__contact" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li>
          <a class="contacts__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contacts__container">
      <div class="contacts__box">CAFE</div>
      <h3 class="contacts__titles">New York</h3>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <h3 class="contacts__titles">Monday - Friday</h3>
      <p class="contacts__time-open">06:00 AM - 10:00 PM</p>
      <h3 class="contacts__titles">Monday - Friday</h3>
      <p class="contacts__time-open">08:00 AM - 16:00 PM</p>
      <ul>
        <li><a class="contacts__contact" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li>
          <a class="contacts__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
