<section class="customer" id="customer">
  <div class="container">
    <h2 class="customer__title">Customer reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/person1.webp"
            alt=""
            class="swiper__photo"
            srcset="./images/person1.webp 1x, ./images/person1@2x.webp 2x"
          />

          <div class="swiper__review-box">
            <div class="swiper__quote">
              <p class="swiper__opinion">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="swiper__personal-info">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/person2.webp"
            alt=""
            class="swiper__photo"
            srcset="./images/person2.webp 1x, ./images/person2@2x.webp 2x"
          />

          <div class="swiper__review-box">
            <div class="swiper__quote">
              <p class="swiper__opinion">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="swiper__personal-info">Karen, Chicago</p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/person3.webp"
            alt=""
            class="swiper__photo"
            srcset="./images/person3.webp 1x, ./images/person3@2x.webp 2x"
          />

          <div class="swiper__review-box">
            <div class="swiper__quote">
              <p class="swiper__opinion">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="swiper__personal-info">Jane, Los New Yourk</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
