<section class="gallery">
  <img
    alt="galeria zdjęć z produktów i klientów"
    class="gallery__img"
    src="./images/images-mobile/gallery-364.jpg"
    srcset="
      ./images/images-mobile/gallery-364.jpg    364w,
      ./images/images-mobile/gallery-728.jpg    728w,
      ./images/images-tablet/gallery-786.jpg    786w,
      ./images/images-tablet/gallery-1572.jpg  1572w,
      ./images/images-desktop/gallery-1280.jpg 1280w,
      ./images/images-desktop/gallery-2560.jpg 2560w
    "
    sizes=" (min-width:1280px) 1280w, (min-width:768px) 786w, (min-width:320px) 364w, 100vw"
  />
</section>
