<section class="gellery">
  <picture class="gallery__picture">
    <source
      media="screen and (max-width: 767px)"
      srcset="./images/images-mobile/gallery-mob@1x.jpg, images/mobile/gallery-mob@2x.jpg 2x"
    />
    <source
      media="screen and (min-width: 768px)"
      srcset="./images/images-tablet/gallery-tab@1x.jpg, images/tablet/gallery-tab@2x.jpg 2x"
    />
    <source
      media="screen and (min-width: 1200px)"
      srcset="
        images/images-desktop/gallery-desk@1x.jpg,
        images/images-desktop/gallery-desk@2x.jpg 2x
      "
    />
    <img src="./images/gallery-mob@1x.jpg" alt="galeria zdjęć z produktów i klientów" />
  </picture>
</section>
