<header>
  <div class="header container">
    <div class="header__circle"></div>
    <div class="header__wrapper">
      <div class="header__nav">
        <img src="./images/header/logo.png" alt="logo" />
      </div>
      <div class="header__anchors">
        <ul class="header__anchor-list">
          <li class="header__anchor-element"><a href="#">Home</a></li>
          <li class="header__anchor-element"><a href="#">About us</a></li>
          <li class="header__anchor-element">
            <a href="#">How it's made?</a>
          </li>
          <li class="header__anchor-element"><a href="#">Our products</a></li>
          <li class="header__anchor-element"><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="header__hamburger-container">
        <svg class="header__hamburger" width="20" height="12">
          <use href="./images/icons/icons-project.svg#icon-burger-menu"></use>
        </svg>
        <div class="header__buy">
          <button class="button button--header">
            Buy now<svg class="header__arrow" width="10" height="20">
              <use href="./images/icons/icons-project.svg#icon-buy-menu-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="header__info">
      <div class="header__title-wrapper">
        <h1 class="header__title">
          Ice Cream Made with <span class="header__title header__title--passion">Passion</span>
        </h1>
        <div class="header__buttons">
          <a href="#"><button class="button button--products">Products</button></a>
          <a href="#"><button class="button button--made">How it's made?</button></a>
        </div>
      </div>
      <div class="header__restaurants-number">
        <div class="header__numbers">
          <div class="header__circle header__circle--white"></div>
          <span class="header__number">16</span><span class="header__restaurant">cafes</span>
        </div>
        <div class="header__numbers">
          <div class="header__circle header__circle--white"></div>
          <span class="header__number">23</span><span class="header__restaurant">food trucks</span>
        </div>
      </div>
    </div>
    <img
      class="header__ice"
      alt="ice-cream"
      src="./images/header/header-ice-cream.png"
      srcset="
        ./images/header/header-ice-cream.png    171w,
        ./images/header/header-ice-cream@2.png  342w,
        ./images/header/header-ice-creamt.png   143w,
        ./images/header/header-ice-creamt@2.png 286w,
        ./images/header/header-ice-creamd.png   236w,
        ./images/header/header-ice-creamd@2.png 472w
      "
      sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px, (min-width: 320px) 171px, 100vw"
    />

    <form class="header__milk-container">
      <img
        class="header__milk"
        alt="pot of milk"
        src="./images/header/header-milk.png"
        srcset="
          ./images/header/header-milk.png    124w,
          ./images/header/header-milk@2.png  248w,
          ./images/header/header-milkd.png   188w,
          ./images/header/header-milkd@2.png 376w
        "
        sizes="(min-width: 1200px) 188px, (min-width: 768px) 124px, 100vw"
      />
      <figcaption class="header__figcaption">
        <div class="header__lorem">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </div>
        <div class="header__arrow-container">
          <img
            alt="arrow"
            src="./images/header/arrow-right.png"
            srcset="
              ./images/header/arrow-right.png    18w,
              ./images/header/arrow-right@2.png  36w,
              ./images/header/arrow-rightd.png   26w,
              ./images/header/arrow-rightd@2.png 52w
            "
            sizes="(min-width: 1200px) 26px, (min-width: 768px) 18px, 100vw"
          />
        </div>
      </figcaption>
    </form>
    <img
      class="header__tasty"
      alt="women eating ice cream"
      src="./images/header/header-tasty.png"
      srcset="
        ./images/header/header-tasty.png    168w,
        ./images/header/header-tasty@2.png  336w,
        ./images/header/header-tastyd.png   293w,
        ./images/header/header-tastyd@2.png 586w
      "
      sizes="(min-width: 1200px) 293px, (min-width: 768px) 168px, 100vw"
    />
  </div>
</header>
