<header>
  <div class="header container">
    <div class="header__circle"></div>
    <div class="header__wrapper">
      <div class="header__nav">
        <img src="./images/logo.png" alt="logo" />
      </div>
      <div class="header__hamburger-container">
        <svg class="header__hamburger" width="20" height="12"></svg>
      </div>
    </div>
    <div class="header__title-wrapper">
      <h1 class="header__title">
        Ice Cream Made with <span class="header__title header__title--passion">Passion</span>
      </h1>
      <div class="header__buttons">
        <a href="#"><button class="button button--products">Products</button></a>
        <a href="#"><button class="button button-made">How it's made</button></a>
      </div>
    </div>
  </div>
</header>
