<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__close-button-field">
    <svg class="mobile-menu__close-button"></svg>
  </div>
  <div class="mobile-menu__button-field js-menu-container" id="mobile-menu">
    <button class="button button--mobile-menu">Buy now</button>
    <svg class="button__icon">
      <use href="./images/icons/icons-project.svg#icon-buy-menu-arrow"></use>
    </svg>
  </div>
  <ul class="mobile-menu__navigation">
    <li class="mobile-menu__navigation-item">
      <a class="mobile-menu__navigation-link mobile-menu__navigation-link--highlight" href="#">
        Home</a
      >
    </li>
    <li class="mobile-menu__navigation-item">
      <a class="mobile-menu__navigation-link" href="#">About us</a>
    </li>
    <li class="mobile-menu__navigation-item">
      <a class="mobile-menu__navigation-link" href="#">How it's made?</a>
    </li>
    <li class="mobile-menu__navigation-item">
      <a class="mobile-menu__navigation-link" href="#">Our products</a>
    </li>
    <li class="mobile-menu__navigation-item">
      <a class="mobile-menu__navigation-link" href="#">Contact</a>
    </li>
  </ul>
</div>
