<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-container__close-button-field">
    <svg class="menu-container__close-button"></svg>
  </div>
  <div class="menu-container__button-field">
    <button class="button button--mobile-menu">Buy now</button>
    <svg class="button__icon">
      <use href="./images/icons/icons-project.svg#icon-buy-menu-arrow"></use>
    </svg>
  </div>
  <ul class="menu-container__navigation">
    <li class="menu-container__navigation-item">
      <a
        class="menu-container__navigation-link menu-container__navigation-link--highlight"
        href="#"
      >
        Home</a
      >
    </li>
    <li class="menu-container__navigation-item">
      <a class="menu-container__navigation-link" href="#">About us</a>
    </li>
    <li class="menu-container__navigation-item">
      <a class="menu-container__navigation-link" href="#">How it's made?</a>
    </li>
    <li class="menu-container__navigation-item">
      <a class="menu-container__navigation-link" href="#">Our products</a>
    </li>
    <li class="menu-container__navigation-item">
      <a class="menu-container__navigation-link" href="#">Contact</a>
    </li>
  </ul>
</div>
