<section class="products" id="products">
  <span class="products__composition">100% NATURAL</span>
  <h2 class="products__header">PRODUCTS</h2>

  <ul class="products__dessert-wrapper">
    <li class="products__product products__product--ice-cream">
      <div class="products__img-wrapper">
        <img
          class="products__img"
          alt="lody"
          src="./images/images-mobile/ice-cream.webp"
          srcset="
            ./images/images-mobile/ice-cream.webp     249w,
            ./images/images-mobile/ice-cream@2x.webp  498w,
            ./images/images-tablet/ice-cream.webp     220w,
            ./images/images-tablet/ice-cream@2x.webp  440w,
            ./images/images-desktop/ice-cream.webp    335w,
            ./images/images-desktop/ice-cream@2x.webp 670w
          "
          sizes="(min-width: 1280px) 335px, (min-width: 768px) 220px, (min-width: 320px) 249px , 100vw"
        />
      </div>
      <div class="products__details">
        <h3 class="products__title">ICE CREAM</h3>
        <ul class="products__circle-box">
          <li class="products__circle"></li>
          <li class="products__circle"></li>
          <li class="products__circle"></li>
        </ul>

        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis
        </p>

        <div class="products__arrow">
          <img
            class="products__img-arrow"
            alt="lody"
            src="./images/arrow-right.png"
            srcset="./images/arrow-right@2x.png"
          />
        </div>
      </div>
    </li>

    <li class="products__product products__product--coffee">
      <div class="products__img-wrapper">
        <img
          class="products__img"
          alt="lody"
          src="./images/images-mobile/ice-coffee.webp"
          srcset="
            ./images/images-mobile/ice-coffee.webp     249w,
            ./images/images-mobile/ice-coffee@2x.webp  498w,
            ./images/images-tablet/ice-coffee.webp     220w,
            ./images/images-tablet/ice-coffee@2x.webp  440w,
            ./images/images-desktop/ice-coffee.webp    335w,
            ./images/images-desktop/ice-coffee@2x.webp 670w
          "
          sizes="(min-width: 1280px) 335px, (min-width: 768px) 220px, (min-width: 320px) 249px , 100vw"
        />
      </div>

      <div class="products__details">
        <h3 class="products__title">ICE COFFEE</h3>
        <ul class="products__circle-box">
          <li class="products__circle"></li>
          <li class="products__circle"></li>
          <li class="products__circle"></li>
        </ul>

        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua facilisis
        </p>
        <div class="products__arrow">
          <img
            class="products__img-arrow"
            alt="lody"
            src="images/arrow-right.png"
            srcset="./images/arrow-right@2x.png"
          />
        </div>
      </div>
    </li>

    <li class="products__product products__product--shake">
      <div class="products__img-wrapper">
        <img
          class="products__img"
          alt="lody"
          src="./images/images-mobile/milkshake.webp"
          srcset="
            ./images/images-mobile/milkshake.webp     249w,
            ./images/images-mobile/milkshake@2x.webp  498w,
            ./images/images-tablet/milkshake.webp     220w,
            ./images/images-tablet/milkshake@2x.webp  440w,
            ./images/images-desktop/milkshake.webp    335w,
            ./images/images-desktop/milkshake@2x.webp 670w
          "
          sizes="(min-width: 1280px) 335px, (min-width: 768px) 220px, (min-width: 320px) 249px , 100vw"
        />
      </div>

      <div class="products__details">
        <h3 class="products__title">MILKSHAKES</h3>
        <ul class="products__circle-box">
          <li class="products__circle"></li>
          <li class="products__circle"></li>
          <li class="products__circle"></li>
        </ul>

        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis
        </p>
        <div class="products__arrow">
          <img
            class="products__img-arrow"
            alt="lody"
            src="./images/arrow-right.png"
            srcset="./images/arrow-right@2x.png"
          />
        </div>
      </div>
    </li>
  </ul>
</section>
