<section class="products">
  <div class="products__ice-cream-wrapper">
    <p class="products__composition">100% NATURAL</p>
    <h2 class="products__header-products">PRODUCTS</h2>
  </div>

  <ul class="products__dessert-wrapper">
    <li class="products__ice-cream-products">
      <img
        class="products__img"
        alt="lody"
        src="./images/header/mobile-photo/ice-cream252.png"
        srcset="./images/header/mobile-photo/ice-cream504@2x.png 504w
      ./images/header/tablet-photo/ice-cream452@2x.png 452w
      ./images/header/tablet-photo/ice-cream226.png 226w
      ./images/header/desktop-photo/ice-cream335.png 504w
      ./images/header/desktop-photo/ice-cream670@2x.png 670w"
        sizes="(min-width: 1280px) 335px, (min-width: 768px) 226px, (min-width: 480px) 252px , 100vw"
      />

      <div class="products__tekst-wrapper">
        <div class="products__tekst-wrapper-item">
          <h3 class="products__dessert-description">ICE CREAM</h3>
          <ul class="products__circle-box">
            <li class="products__circle"></li>
            <li class="products__circle"></li>
            <li class="products__circle"></li>
          </ul>

          <p class="products__products-lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis
          </p>
          <p class="products__lorem-overflor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <div class="products__arrow">
            <img
              class="products__img-arrow"
              alt="lody"
              src="./images/images-mobile/arrow-right.png"
              srcset="./images/images-mobile/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </li>

    <li class="products__ice-cream-products--coffee">
      <div class="products__ice-cream-item">
        <img
          class="products__img"
          alt="lody"
          src="./images/header/mobile-photo/ice-coffee252.png"
          srcset="./images/header/mobile-photo/ice-coffee504@2x.png 504w
          ./images/header/tablet-photo/ice-coffee233.png 233w
          ./images/header/tablet-photo/ice-coffee466@2x.png 466w
          ./images/header/desktop-photo/ice-coffee670@2x.png 670w
          ./images/header/desktop-photo/ice-coffee335.png 335w"
          sizes="(min-width: 1280px) 335px, (min-width: 768px) 233px, (min-width: 480px) 252px , 100vw"
        />
      </div>
      <div class="products__tekst-wrapper">
        <div class="products__tekst-wrapper-item">
          <h3 class="products__dessert-description">ICE COFFEE</h3>
          <ul class="products__circle-box">
            <li class="products__circle"></li>
            <li class="products__circle"></li>
            <li class="products__circle"></li>
          </ul>

          <p class="products__products-lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua facilisis
          </p>
          <div class="products__arrow">
            <img
              class="products__img-arrow"
              alt="lody"
              src="images/images-mobile/arrow-right.png"
              srcset="./images/images-mobile/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </li>

    <li class="products__ice-cream-products--milkshakes">
      <div class="products__ice-cream-item">
        <img
          class="products__img"
          alt="lody"
          src="./images/header/mobile-photo/milkshake252.png"
          srcset="./images/header/mobile-photo/milkshake504@2x.png 504w
          ./images/header/tablet-photo/milkshake448@2x.png 448w
          ./images/header/tablet-photo/milkshake224.png 224w
          ./images/header/desktop-photo/milkshake335.png 335w
          ./images/header/desktop-photo/milkshake670@2x.png  670w
          "
          sizes="(min-width: 1280px) 335px, (min-width: 768px) 224px, (min-width: 480px) 252px , 100vw"
        />
      </div>
      <div class="products__tekst-wrapper">
        <div class="products__tekst-wrapper-item">
          <h3 class="products__dessert-description">MILKSHAKES</h3>
          <ul class="products__circle-box">
            <li class="products__circle"></li>
            <li class="products__circle"></li>
            <li class="products__circle"></li>
          </ul>

          <p class="products__products-lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis
          </p>
          <div class="products__arrow">
            <img
              class="products__img-arrow"
              alt="lody"
              src="./images/images-mobile/arrow-right.png"
              srcset="./images/images-mobile/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
