<section class="container products">
  <div class="products__ice-cream-wrapper">
    <p class="products__composition">100% NATURAL</p>
    <h2 class="products__header-products">PRODUCTS</h2>
  </div>

  <ul class="products__dessert-wrapper">
    <li class="products__ice-cream-products">
      <img
        class="products__img"
        alt="lody"
        src="./images/images-mobile/ice-cream.png"
        srcset="./images/images-mobile/ice-cream@2x.png
        ./images/images-tablet/ice-cream@2x.png
        ./images/images-tablet/ice-cream@.png"
      />

      <div class="products__tekst-wrapper">
        <div class="products__tekst-wrapper-item">
          <h3 class="products__dessert-description">ICE CREAM</h3>
          <ul class="products__circle-box">
            <li class="products__circle"></li>
            <li class="products__circle"></li>
            <li class="products__circle"></li>
          </ul>

          <p class="products__products-lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis
          </p>
          <div class="products__arrow">
            <img
              class="products__img-arrow"
              alt="lody"
              src="./images/images-mobile/arrow-right.png"
              srcset="./images/images-mobile/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </li>

    <li class="products__ice-cream-products--coffee">
      <div class="products__ice-cream-item">
        <img
          class="products__img"
          alt="lody"
          src="./images/images-mobile/ice-coffee.png"
          srcset="./images/images-mobile/ice-coffee@2x.png
          ./images/images-tablet/ice-coffee@2x.png
          ./images/images-tablet/ice-coffee@.png"
        />
      </div>
      <div class="products__tekst-wrapper">
        <div class="products__tekst-wrapper-item">
          <h3 class="products__dessert-description">ICE COFFEE</h3>
          <ul class="products__circle-box">
            <li class="products__circle"></li>
            <li class="products__circle"></li>
            <li class="products__circle"></li>
          </ul>

          <p class="products__products-lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis
          </p>
          <div class="products__arrow">
            <img
              class="products__img-arrow"
              alt="lody"
              src="images/images-mobile/arrow-right.png"
              srcset="./images/images-mobile/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </li>

    <li class="products__ice-cream-products--milkshakes">
      <div class="products__ice-cream-item">
        <img
          class="products__img"
          alt="lody"
          src="./images/images-mobile/milkshake.png"
          srcset="./images/images-mobile/milkshake@2x.png
          ./images/images-tablet/milkshake@2x.png
          ./images/images-tablet/milkshake@.png"
        />
      </div>
      <div class="products__tekst-wrapper">
        <div class="products__tekst-wrapper-item">
          <h3 class="products__dessert-description">MILKSHAKES</h3>
          <ul class="products__circle-box">
            <li class="products__circle"></li>
            <li class="products__circle"></li>
            <li class="products__circle"></li>
          </ul>

          <p class="products__products-lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis
          </p>
          <div class="products__arrow">
            <img
              class="products__img-arrow"
              alt="lody"
              src="./images/images-mobile/arrow-right.png"
              srcset="./images/images-mobile/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
