.advantages {
  background-color: $howItsMadeBackground;
  margin: 0 auto;
  padding: 39px 70px 97px 0;
  @include tablet {
    padding: 66px 42px 140px 2px;
  }

  @include desktop {
    padding: 39px 115px 143px;
  }

  &__title {
    display: none;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    list-style: none;
    padding-top: 38px;

    @include tablet {
      flex-wrap: nowrap;
      padding-top: 0;
      gap: 60px;

    }

    @include desktop {
      gap: 30px;
      flex-wrap: nowrap;
    }
  }

  &__item {
    color: $headTextColor;
    font-family: 'Titan One';
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 20px;

    @include tablet {
      margin-top: 36px;
      margin-bottom: 13px;
    }
    @include desktop {
      margin-top: 40px;
      margin-bottom: 15px;
    }
  }

  &__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
  }
}
