.button {
  border: none;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;

  &--products {
    background-color: $headTextColor;
    color: $defaultBackground;
    &:hover {
      background-color: $button1Headerhover;
    }
  }
  &--made {
    background-color: $defaultBackground;
    color: $headTextColor;
    &:hover {
      background-color: $button2Headerhover;
      color: $headTextColor;
    }
  }
  &--header {
    width: 160px;
    display: flex;
    justify-content: center;
    gap: 12px;
    background-color: $defaultBackground;
    color: $headTextColor;
    fill: $headTextColor;
    &:hover {
      background-color: $button2Headerhover;
      color: $headTextColor;
    }
  }
}
