.button {
  border: none;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;

  &--products {
    background-color: $headTextColor;
    color: $defaultBackground;
    &:hover {
      background-color: $button1Headerhover;
    }
  }
  &--made {
    background-color: $defaultBackground;
    color: $headTextColor;
    &:hover {
      background-color: $button2Headerhover;
      color: $headTextColor;
    }
  }
  &--header {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    width: 160px;
    display: flex;
    justify-content: center;
    gap: 12px;
    background-color: $defaultBackground;
    color: $headTextColor;
    fill: $headTextColor;

    &:hover {
      background-color: $button2Headerhover;
      color: $headTextColor;
    }
  }
  &--mobile-menu {
    margin-top: 23.26px;
    width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
    color: $headTextColor;
    background-color: $defaultBackground;
    @include tablet {
      margin-left: 10px;
    }
  }
  &--hamburger {
    background-color: $pinkBackground1;
    padding: 0px;
    @include tablet {
      background-color: $pinkBackground2;
    }
  }
  &--close {
    background-color: $mobileMenuBackground;
    padding: 0px;
  }
}
