.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin: 0 30px;
  &__bg {
    background-color: $howItsMadeBackground;
  }

  &__container {
    width: 100%;
    background-color: $defaultBackground;
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px #d414431a;
  }

  &__box {
    background-color: $coffeeBackground;
    color: $defaultBackground;
    border-radius: 4px;
    border-style: solid;
    border: none;
    padding: 2px 29px;
    text-align: center;
    width: fit-content;
    margin: 40px auto 0px 20px;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0.04em;
    text-align: center;
  }
  &__box--color {
    color: $defaultBackground;
    border-radius: 4px;
    border-style: solid;
    border: none;
    padding: 2px 20px;
    text-align: center;
    width: fit-content;
    margin: 40px auto 0px 20px;
    background-color: $milkshakesBackground;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0.04em;
    text-align: center;
  }

  &__contact {
    list-style-type: none;
    text-decoration: none;
    color: $lightTextColor;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
  }

  &__titles {
    color: $defaultTextColor;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0em;
    text-align: left;
  }

  &__destination {
    color: $defaultTextColor;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding: 25px 20px 10px 20px;
    text-align: left;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0.04em;
    text-align: left;
  }

  &__time-open {
    color: $pinkBackground2;
    margin-left: 20px;
    text-align: left;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0em;
    text-align: left;
  }

  &__text {
    color: $lightTextColor;
    margin: 0 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid 1px $quoteIconColor;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 25px 20px 43px 20px;
    border-top: 1px solid $quoteIconColor;
    padding-top: 25px;
  }

  &__btn {
    width: 161px;
    color: $defaultBackground;
    background-color: $headTextColor;
  }
  &__btn:hover {
    color: $headTextColor;
    background-color: $defaultBackground;
  }

  &__btn--second {
    width: 161px;
    color: $headTextColor;
    background-color: $defaultBackground;
  }

  &__btn--second:hover {
    color: $defaultBackground;
    background-color: $headTextColor;
  }

  &__btn-container {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
