.header {
  background-color: $pinkBackground1;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
  }

  &__nav {
  }
  &__hamburger-container {
    border: solid 1px black;
    width: 20px;
    height: 12px;
  }
  &__title-wrapper {
    padding-top: 137px;
  }
  &__title {
    max-width: 218px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
    color: $defaultBackground;

    &--passion {
      font-size: 48px;
      color: $headTextColor;
    }
  }
}

.button{

}