header {
  background-color: $pinkBackground1;
}
.header {
  position: relative;
  height: 502px;
  overflow: hidden;
  @include tablet {
    height: 399px;
  }
  @include desktop {
    height: 665px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    @include desktop {
      padding-top: 74px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    position: relative;
    z-index: 250;
    align-items: center;
    @include tablet {
      padding-top: 37px;
    }
  }
  &__anchors {
    display: none;
    @include desktop {
      display: flex;
    }
  }
  &__anchor-list {
    display: none;
    gap: 35px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    color: $defaultBackground;
    @include tablet {
      display: flex;
    }
  }
  &__anchor-list a {
    color: currentColor;
  }
  &__anchor-element:hover {
    color: $headTextColor;
    cursor: pointer;
  }
  &__hamburger-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    @include tablet {
      gap: 30px;
    }
  }
  &__hamburger {
    stroke: $headTextColor;
    @include desktop {
      display: none;
    }
  }
  &__title-wrapper {
    padding-top: 137px;
    position: relative;
    z-index: 249;
    @include tablet {
      padding-top: 15px;
    }
  }
  &__title {
    max-width: 218px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
    color: $defaultBackground;
    @include tablet {
      font-size: 22px;
    }
    @include desktop {
      font-size: 38px;
      max-width: 277px;
    }

    &--passion {
      font-size: 48px;
      color: $headTextColor;
      @include tablet {
        font-size: 34px;
      }
      @include desktop {
        font-size: 58px;
      }
    }
  }
  &__buttons {
    padding-top: 19px;
    display: flex;
    gap: 8px;
    font-family: 'DM Sans';
    font-size: 8px;
    font-weight: 400;
    @include desktop {
      padding-top: 25px;
      font-size: 14px;
    }
  }
  &__circle {
    width: 346px;
    height: 344px;
    background-color: $pinkBackground2;
    border-radius: 50%;
    position: absolute;
    top: 83px;
    left: 36px;
    overflow: hidden;

    @include tablet {
      width: 324px;
      height: 322px;
      left: 307px;
      top: 31px;
      @include desktop {
        width: 538px;
        height: 538px;
        left: 475px;
        top: 52px;
      }
      &--white {
        background-color: $defaultBackground;
        width: 16px;
        height: 16px;
        left: 35px;
        top: -2px;
        z-index: 10;
        @include desktop {
          width: 30px;
          height: 30px;
          left: 60px;
          top: -5px;
        }
      }
    }
  }

  &__ice {
    position: absolute;

    z-index: 20;
    top: 92px;
    left: 117px;
    @include tablet {
      left: 378px;
    }
    @include desktop {
      left: 594px;
      top: 108px;
    }
  }
  &__buy {
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__pictures {
    display: flex;
    gap: 298px;
    position: absolute;
    top: 429px;
  }
  &__milk-container {
    display: flex;
    width: fit-content;
    position: absolute;
    top: 245px;
    display: none;
    align-items: center;

    @include tablet {
      display: flex;
    }
    @include desktop {
      top: 429px;
    }
  }
  &__figcaption {
    width: 114px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    color: $defaultBackground;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include desktop {
      font-size: 14px;
      width: 200px;
    }
  }
  &__tasty {
    position: absolute;
    left: 566px;
    top: 266px;
    @include desktop {
      top: 433px;
      left: 878px;
    }
  }
  &__restaurants-number {
    display: none;
    flex-direction: column;
    gap: 14px;
    position: relative;
    @include tablet {
      display: flex;
    }
  }
  &__numbers {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
  }
  &__number {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 28px;
    color: $headTextColor;
    z-index: 20;
    @include desktop {
      font-size: 46px;
    }
  }
  &__restaurant {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    color: $defaultBackground;
    @include desktop {
      font-size: 14px;
    }
  }
}

@include tablet {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  @include desktop {
    .container {
      max-width: 1200px;
      padding: 0 115px 0 48px;
    }
  }
}
